---
import AboutHeroImage from '../assets/about.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('December 28 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		I am a builder at the intersection of logic and creativity. Whether I’m writing a custom routing engine or sketching a new portrait, my process is the same: I look for the underlying patterns. As a developer with an artist’s soul and a passion for exploring global cultures, I design digital experiences that aren't just functional—they are intentional, aesthetic, and human. 
			</p>
		<p>PS : Check the code above! You'll find out more about me.</p>

	

	

	

	
</Layout>
