---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Hello, I'm Akshith!</h1>
			<p>
				Welcome to my blog! Here, I love sharing what I know, and love doing.
			</p>
			<p>
				I'm currently a full stack developer and python developer at ShadowFox.
					I've worked with a variety of frameworks, including Angular, React and Django.
				I'm currently dabbling with Web3 and trying my hand at decentralized systems.
			</p>
			
			
			<p>
				Wanna see what I'm working on? Check out
				<a href="https://github.com/Akshith985">my github</a>
				or <a href="https://instagram.com/ax_it47">drop a word!</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
